{% extends "admin/base_layout.html" %}
{% load static custom_tags lucide_tags admin_urls %}

{% block main_content %}
  <div class="space-y-6">
    <div class="flex justify-center md:justify-end" >
      {% if has_add_permission %}
        <a href="{% url opts|admin_urlname:'add' %}" class="inline-flex items-center gap-x-2 rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-gray-800 dark:text-white/90 shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
          <span class="w-icon">
            {% lucide 'plus' %}
          </span>    
          <span>Add Role</span>
        </a>
      {% endif %}
    </div>
    <div>
      {% data_table_card title="All Roles" headers=table_headers rows=table_rows %}
    </div>
  </div>
{% endblock %}